*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
div{
    width:70%;
    padding: 0%; 
}
h1{
    font-size: 100px;
    text-align: center;
}
button{

    height:25%;
    width: 30%;
    color: white;
    border: none;
    border-radius: 3px;
}
button:hover{
    cursor: pointer;
}
#btn_start{
    background-color: rgb(11, 99, 11);
}
#btn_pause{
    background-color: rgb(154, 143, 143);
}
#btn_stop{
    background-color: red;
}